.group
  %dl
    %dt= f.label_for :text
    %dd
      ~ f.text_area :text, :class => 'large fat', :rows => '8'
    %dt
      = f.submit 'Save Item'
      or
      = link_to "Cancel", edit_admin_resume_section_path(@resume_section)
