%ul.asset-controls.clear
  %li= link_to 'e', edit_admin_asset_path(asset), :title => 'Edit'
  %li= link_to 'd', admin_asset_path(asset), :title => 'Delete', :confirm => 'Are you sure?', :method => :delete
= asset_image_tag(asset, :thumb)
