.box
  .boxheader
    %span.header= assets_name
    = link_to add_icon, new_admin_asset_path
  .asset-list.boxcontent
    - @assets.each do |asset|
      %span= link_to asset_image_tag(asset, :thumb), edit_admin_asset_path(asset)
    / This is a hack to clear both so that the list will cover the images correctly when the pagination
    / is present.
    %p &nbsp;
  = will_paginate @assets
