.box
  .boxheader
    %span.header Assets
    = link_to 'Add New', new_admin_asset_path
  .asset-list.boxcontent
    - @assets.each do |asset|
      %span
        = render :partial => 'asset', :object => asset
