%h1 Listing assets

%table
  %thead
    %tr
      %th 
      %th Image
      %th Fields
      %th Destroy
    %tr
  %tbody
  = render :partial => 'asset', :collection => @assets

%br

= link_to 'New asset', new_admin_asset_path
