.box
  .boxheader
    %span.header= assets_name
    = link_to 'Add New', new_admin_asset_path
  .asset-list.boxcontent
    - @assets.each do |asset|
      %span
        = link_to asset_image_tag(asset, :thumb), edit_admin_asset_path(asset)
  = will_paginate @assets
