%h1 New asset

= error_messages_for :asset

- form_for @asset, :url => admin_assets_path, :html => { :multipart => true } do |f|
  %p
    %b File data
    %br
    = f.file_field :uploaded_data

  %p
    = f.submit "Create"

= link_to 'Back', admin_assets_path
