<div class="home-text">
  <img src="{{ site.home_image_path }}"/>
  {{ site.home_text }}
</div>

<dl class="home-news">
  {% for news in site.home_news_items %}
    <dt>{{ news.title | link_to_news }}</dt>
    <dd>{{ news.text | limit_length: 100 }}</dd>
  {% endfor %}
</dl>