<div class="home-text">
  {% if site.home_image_display_path != '' %}
    <img src="{{ site.home_image_display_path }}" alt="home image" />
  {% endif %}
  {{ site.home_text }}
</div>

{% if site.home_news_item_count > 0 %}
  <div class="home-news">
    <h2>News</h2>
    <dl>
      {% for news in site.home_news_items %}
        <dt>{{ news.title | link_to_news }}</dt>
        <dd>{{ news.text | limit_length: 100 }}</dd>
      {% endfor %}
    </dl>
  </div>
{% endif %}