<div class="home-text">
  <img src="{{ site.home_image_medium_path }}"/>
  <p>{{ site.home_text }}</p>
</div>

<div class="home-news">
  <h2>News</h2>
  <dl>
    {% for news in site.home_news_items %}
      <dt>{{ news.title | link_to_news }}</dt>
      <dd>{{ news.text | limit_length: 100 }}</dd>
    {% endfor %}
  </dl>
</div>