// !cute_orange = rgb(223,141,74)
// !dark_orange = #af8439
// !banner_grey = #464646
// !form_text_color = #464646

!cute_orange = rgb(223,141,74)
!dark_orange = #af8439
!dark_grey = #383838
!pale_grey = #d9d9d9
!paler_grey = #b9b9b9
!umber = #6b6350
!black_grey = #171717
!light_grey = #8c8282
!banner_font_color = #bbb

!content_background_color = #fff
!background_color = !pale_grey
!highlight_color = #8c8282

body
  :background-color = !background_color
  :color = !dark_grey
  :line-height normal
  :border-top
    :style solid
    :width 30px
    :color = !dark_grey
  :font
    :family "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif
    :size 14px
    :size-adjust none
    :stretch normal
    :style normal
    :variant normal
    :weight normal

*
  :margin 0pt
  :padding 0pt

a
  &:link, &:visited
    :outline none
    :color #920
    :border-bottom 1px dotted #888
    :text-decoration none

#login-form
  :margin 10px auto
  :width 360px
  
  form
    :font-weight normal
    :margin-left 8px
    :padding 16px 16px 40px 16px
    :background-color = !cute_orange
  
    p
      :margin-bottom 24px
    input
      :color = !dark_grey
  
  .remember-me
    :float left
    :font-weight normal
    :margin-bottom 0pt
  .submit
    :float right
    :margin-bottom 15px
    
    input
      :border 1px solid
      :cursor default
      :font-family "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif
      :font-size 120%
      :margin-top -6px
      :padding 3px 5px
      :text-decoration none
      
    input:hover
      :color = !dark_orange

h1 a
  :background transparent url(../images/spritz-logo-medium.png) no-repeat scroll 50%
  :display block
  :height 100px
  :overflow hidden
  :padding-bottom 15px
  :text-indent -9999px
  :width 360px
    
.large
  :font-size 175%

.medium
  :font-size 150%

.small
  :font-size 75%

.clear
  :display block

.header
  :font-size 135%
  :font-weight bold

#wrapper
  :min-height 100%
  :position relative
  
#content
  :padding-bottom 50px
  
#head
  :background-color = !cute_orange
  :min-height 70px
  :background rgb(223,141,74) url(../images/spritz-icon-60.png) no-repeat scroll 10px
  :padding-bottom 8px
  
  h1
    :padding 0 0 0 80px
    :font-size 250%
    :padding-top 20px
    
#banner
  :font-size 75%
  :color = !banner_font_color
  
  a
    :color = !banner_font_color
    
  #right-banner
    :position absolute
    :right 15px
    :top 7px

  #flash-area
    :position absolute
    :left 0px
    :top 8px
    :width 100%
    :font-weight normal
    :text-align center
    :color = !banner_font_color
    
#top-controls
  :background-color = !cute_orange
  :border-bottom-color #C6D9E9
  :border-bottom-style solid
  :border-bottom-width 1px
  :padding-left 13px
  
  li
    a
      :font-size 125%
      :line-height 30px
      :padding 5px 7px
      :text-decoration none
      :text-align center
      :white-space nowrap
      :color = !dark_grey

    a.current
      :background-color = !content_background_color
      :border 1px solid
      :border-color = !highlight_color !highlight_color !content_background_color
      :border-bottom-width 2px
      :color = !cute_orange
      :-moz-border-radius-topleft 4px
      :-moz-border-radius-topright 4px

#subcontrols
  :background-color #fff
  :border-right 3px solid #B9B9B9
  :float left
  :min-height 1em
  :position relative
  :width 62%
  :padding-top 7px

  li
    :display inline
    :padding 5px 0px 5px 20px
    
    a
      :font-size 110%
      :line-height 30px
      :text-decoration none
      :text-align center
      :white-space nowrap
      :color = !dark_grey
      :border none

    a.current
      :color = !cute_orange
      
#top-controls, #top-controls a, #available-sections li, #active-sections li, .cleanlist, .asset-controls
  :list-style
    :image none
    :position outside
    :type none
    :margin 0
    :padding 0

#top-controls li
  :display inline

#top-controls li a
  :padding 5px 7px
  :text-decoration none
  :text-align center
  :white-space nowrap
  :color = !dark_grey
  
form .group 
  dl
    :font-weight normal
    :margin-left 8px
    :background-color = !pale_grey
    :margin 0pt
    :padding 20px

    dt
      :font-weight bold

    input, textarea, select
      :font-family "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif
      :margin 0pt 0pt 20px 0pt
      
    select
      :min-width 100px
      
    textarea
      :font-size 125%
      :width 100%

form .group dl, #login-form form, #login-form .submit input
  :-moz-border-radius-bottomleft 5px
  :-moz-border-radius-bottomright 5px
  :-moz-border-radius-topleft 5px
  :-moz-border-radius-topright 5px

#available-sections
  :float left
  :width 300px
  
#active-sections
  :float left
  :width 500px
  :margin-left 75px
  
.box
  :border 1px solid
  :border-color = !light_grey
  :margin-bottom 20px
  
.boxheader
  :background = !paler_grey
  :padding 5px
  
.boxcontent
  :padding 10px
  :border-top 1px solid
  :border-top-color = !light_grey
  
#main
  :position relative
  :float left
  :width 62%
  :background-color #fff
  :min-height 300px
  :border-right 3px solid
  :border-right-color = !paler_grey
  :border-bottom 3px solid
  :border-bottom-color = !paler_grey

#main-content
  :padding 10px 20px 20px 20px  
  
#sidebar
  :position relative
  :background-color = !pale_grey
  :margin 0pt 0pt 0pt 63%
  :padding 10px 10px 10px 0px

#portfolio-ancestors
  :font-size 85%
  :padding-bottom 15px
  
.image-list 
  input
    :margin
      :left 7px
      :top 5px
  form
    :display inline
  div
    :display inline

.asset-list
  :height 230px

  span
    :padding-left 7px
    :padding-bottom 10px
    :float left
  
.asset-controls
  :margin 0pt 0pt 5px
  :text-align center
  :width 70px
  
  li
    :display inline
    :position relative

    a
      :font-size 75%
      
#themes h2
  :clear both
  :padding-bottom 20px

.theme 
  :clear both

  .preview
    :float left
    :width 258px
    :margin-bottom 30px
    :border 1px solid #ddd

  .theme-data
    :padding-top 20px
    :margin-left 300px
    :list-style-type none

    .title
      :font-weight bold
      :font-size 120%

  .theme-summary
    :margin-top 20px

  .theme-controls
    :padding-top 10px
    :margin-left 300px
    :list-style-type none

    li
      :padding-top 10px
