%h1 Available sections
%ul
  - @available_section_types.each do |type|
    %li= link_to type.section_name, admin_sections_path(:name => type.section_name), :method => :post
%h1 Existing sections
%ul
  - @sections.each do |section|
    %li= section.name
    %li= link_to section.name, :controller => section.admin_controller, :action => 'show', :id => section.id