.box
  .boxheader
    %span.header Links
    = link_to 'Add New', new_admin_link_path
  %ul.cleanlist
    - @links.each do |link|
      %li.boxcontent
        = link.title
        = link_to 'edit', edit_admin_link_path(link)
        = link_to 'delete', admin_link_path(link), :method => :delete
    - if @links.empty?
      %li.boxcontent None
