.box
  .boxheader
    %span.header Images in this Portfolio
    = link_to 'Add', new_admin_portfolio_assigned_asset_path(@portfolio)
  %ul.cleanlist
    %li.boxcontent
      - @portfolio.assigned_assets.each do |assigned_asset|
        = image_tag assigned_asset.asset.public_filename(:thumb)
