.box
  .boxheader
    %span.header Images in this Portfolio
    = link_to 'Add', new_admin_portfolio_assigned_asset_path(@portfolio)
  %ul.cleanlist
    %li.boxcontent
      - @portfolio.assigned_assets.each do |assigned_asset|
        = image_tag assigned_asset.asset.public_filename(:thumb)

%ul
  - @site.assets.each do |asset|
    %li
      - form_tag admin_portfolio_assigned_assets_path(@portfolio) do
        = hidden_field_tag 'asset_id', asset.id
        = image_submit_tag asset.public_filename(:thumb)
