.box
  .boxheader
    %span.header Images in this Portfolio
    (click to delete)
    = link_to 'Add', new_admin_portfolio_assigned_asset_path(@portfolio)
  %ul.cleanlist.image-list
    %li.boxcontent
      - @portfolio.assigned_assets.each do |assigned_asset|
        = link_to image_tag(assigned_asset.asset.public_filename(:thumb)), |
          admin_portfolio_assigned_asset_path(@portfolio, assigned_asset), |
          :title => 'Delete', :confirm => 'Are you sure?', :method => :delete |
