.box
  .boxheader
    %h2 Subpages
    = link_to_new_portfolio
  %ul.cleanlist
    - portfolio.children.each do |child|
      %li.boxcontent
        = child.title
        = link_to 'Edit', edit_admin_portfolio_path(child)
