= error_messages_for :portfolio

- form_for @portfolio, :url => admin_portfolio_path(@portfolio) do |f|
  = render :partial => 'form', :locals => { :f => f }

- content_for :sidebar do
  = render :partial => 'portfolio', :locals => { :portfolio => @portfolio }
  = render :partial => 'assets'

