.box
  .boxheader
    %span.header Portfolios
    = link_to_new_portfolio
  %table.draglist{ :cellpadding => 0, :cellspacing => 0 }
    %tbody#portfoliolist
      - @portfolios.each do |portfolio|
        %tr{ :id => "#{dom_id(portfolio)}" }
          %td.title= link_to portfolio.title, edit_admin_portfolio_path(portfolio)
          %td.controls= link_to image_tag('/images/icons/trash.gif', :class => 'icon-square red', :title => 'Delete this portfolio'), admin_portfolio_path(portfolio), :confirm => 'Are you sure you want to permanently delete this portfolio and all of its subpages?', :method => :delete
      - if @portfolios.empty?
        %tr
          %td None
