.box
  .boxheader
    %span.header Portfolios
    = link_to_new_portfolio
  %ul.cleanlist
    - @portfolios.each do |portfolio|
      %li.boxcontent
        = portfolio.title
        = link_to 'edit', edit_admin_portfolio_path(portfolio)
        = link_to 'delete', admin_portfolio_path(portfolio), :confirm => 'Are you sure?', :method => :delete
    - if @portfolios.empty?
      %li.boxcontent None
      