%ul
  - @site.assets.each do |asset|
    %li
      - form_for @assigned_asset, :url => admin_portfolio_assigned_assets_path(@portfolio) do |f|
        = f.hidden_field :asset_id, :value => asset.id
        = image_submit_tag asset.public_filename(:thumb)
