= error_messages_for :site  

- form_for :site, :url => admin_settings_path, :html => { :method => :put } do |f|
  .group
    %dl
      %dt= f.label_for :title, :text => 'Site Title'
      %dd= f.text_field :title, :class => 'large'
      %dt
        = f.submit 'Save Changes'

