<dl id="resume">
  {% for section in site.resume_sections %}
    <dt>{{ section.title }}
    <dd>
      <ul>
        {% for item in section.items %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>