#forgot-password-form
  %h1
    = link_to 'http://www.spritzrelax.com', 'http://www.spritzrelax.com', :title => 'Powered by Spritz'
  - form_tag reset_password_admin_users_path, :method => :put do
    %dl
      %dt
        %label{ :for => "login" } Enter your email address to receive a link that will allow you to log in and reset your password.
      %dd= text_field_tag :email, '', :class => 'large'

    %dt.submit= submit_tag 'Send'